[2017-10-31 01:11] yuvipanda opened #2 "Figure out why explict LD_LIBRARY_PATH is needed"
nbrsessionproxy calls the `rsession` binary directly, but that doesn't seem to run without the LD_LIBRARY_PATH being explicitly set. Figure out why this is?

[2017-10-31 01:59] cboettig commented on #2
yeah, I was puzzled by that too, since clearly we don't have that issue when running the rocker images directly. Shooting from the hip here, but I'm guessing this is somehow a side-effect of bypassing the `rserver` process (which requires root) and just running `rsession` directly (which is how Ryan nicely bypasses the existing `rserver` config and the need for root).  But could be way off.  CC'in

[2017-10-31 02:00] yuvipanda commented on #2
That's highly possible. I wonder if it's related to me finding out that PATH isn't respected by R?

[code]

[2017-10-31 02:12] cboettig commented on #2
Nope, the $PATH thing is a separate issue.  R is getting $PATH from the system .Renviron file, not from the local environment.  See https://github.com/rocker-org/rocker-versioned/blob/master/rstudio/Dockerfile#L52 we set the PATH as an ENV first and then manually write it into the system .Renviron :(

But for `LD_LIBRARY_PATH`; I'd wager a few peanuts that `/usr/bin/rserver` runs `/usr/lib/rstudio

[2017-10-31 03:16] cboettig commented on #2
Technically I think just using `/usr/local/lib/R/lib` could have some trouble linking java libraries that should be part of LD_LIBRARY_PATH as detected by that library script, so some day we might want to have R source `$RHOME/etc/ldpaths` (e.g. by adding an R command to `$RHOME/Rprofile.site` maybe, since that R script gets run on startup under usual circumstances).

[2017-10-31 04:46] ryanlovett commented on #2
I didn't investigate why LD_LIBRARY_PATH was needed, just observed that it was for rsession to start correctly. If rsession was built and shipped natively by Linux distributions, it'd probably have the right embedded linker path so the runtime path wouldn't be necessary.

I think nbrsessionproxy could probably do the equivalent of sourcing ${RHOME}/etc/ldpaths as you suggest, so the admin doesn't

[2017-10-31 16:04] cboettig opened #6 "Recipe fails on debian:jessie based images(?)"
R 3.3.x versions are based on `debian:jessie`, these builds seem to be failing on hub.  cc @yuvipanda .

[2017-10-31 19:12] #6 closed

[2017-11-03 20:57] brooksambrose opened #10 "RStudio project support"
First thanks for this meeting of the minds between jupyter and rocker!

I'm using a Dockerfile with this repo: https://github.com/w201rdada/portfolio

The image builds and launches great, and the RStudio Server session launches as well. However, when attempting to create a new Rstudio project (I want to use RStudio git integration) in the existing directory, the RStudio Server window reloads and d

[2017-11-03 21:02] brooksambrose commented on #10
Same error if trying to open an existing .Rproj file.

[2017-11-03 21:11] cboettig commented on #10
@ryanlovett I can confirm this behavior as well.  I suspect it has something to do with the proxy.  Can you replicate this on your end?

[2017-11-03 22:52] ryanlovett commented on #10
Confirmed.

nbrsessionproxy does a very poor job of tracking the state of the rsession process. It can either improve what it has, manage the subprocesses via the environment's init (e.g. systemd), or use a third party library.

I think it will actually be easier to start rsession via the Hub spawner rather than from within Jupyter. This way JupyterHub can keep track of the rsession web service th

[2017-11-03 23:00] brooksambrose commented on #10
Having "start Jupyter server" or "start Rstudio Server" buttons would be an interesting option at the beginning, but actually I consider it a plus to have the jupyter file manager, terminal, etc., as well as other notebooks, available for a poly-lingual workspace.

For some reason the git integrations are not available in Rstudio unless a project has been started, which is a poor design decision f

[2017-11-03 23:06] ryanlovett commented on #10
I see the same issue on a Hub so it isn't related to Binder.

[2017-11-04 02:55] cboettig commented on #10
@brooksambrose On the RStudio side of things, this is normally all taken care of by RStudio's server, `rserver`, which perfectly happy to handle the multiple sessions.  I believe the problem we have created here is in part because we have bypassed `rserver`, and just allowed Jupyter to run the user-level process `rsession` alone.

As far as multi-lingual environments with file manager, terminal et

[2017-11-06 23:13] yuvipanda commented on #10
@ryanlovett can you give me a bit more details on what the problem is? does rsession just get killed and not respawned?

[2017-11-06 23:51] brooksambrose opened #12 "config.yaml"
Is there a way I could inspect the `config.yaml` that is presumably generated for use with `helm` and k8s to provision a particular binder pod? I assuming the process behind binder is similar to what's documented at [z2jh](http://zero-to-jupyterhub-with-kubernetes.readthedocs.io/). I'd like to get the rocker binder image working with my own cluster but am having trouble launching the container.

[2017-11-07 01:26] brooksambrose commented on #12
Figured it out, thanks. I was following the wrong docs, didn't know about https://binderhub.readthedocs.io/en/latest/setup-binderhub.html#create-config-yaml

I got my own binder hub up and running and the rocker-org/binder image is working great. Thanks!

[2017-11-07 01:26] #12 closed

[2017-11-07 18:41] ryanlovett commented on #10
I think rsession tries to restart itself so that it gets a new "project context".

[2017-11-09 02:55] yuvipanda commented on #10
I believe I've fixed this today. I'll send a PR soon (in a flight layover
now).

On Nov 7, 2017 12:41 PM, "Ryan Lovett" <notifications@github.com> wrote:

[2017-11-09 03:47] yuvipanda commented on #10
https://github.com/jupyterhub/nbrsessionproxy/pull/19 should fix it :)

Feel free to report other issues like this that don't work in github.com/jupyterhub/nbrsessionproxy. Am committed to making this as first class an experience as possible.

[2017-11-09 04:13] cboettig commented on #10
@yuvipanda wow, nice work!

[2017-11-10 00:43] yuvipanda commented on #10
@cboettig sent a PR :)

I believe one more missing feature is Shiny app support, which I'll try to work on this week / next week. We'll also at some point change the UI on binder to allow you to specify 'application to run', which would let you explicitly pick rstudio from a box (rather than type 'rstudio' into 'url to run').

What other features are missing still? https://mybinder.org/v2/gh/yuvip

[2017-11-10 04:41] cboettig opened #14 "shiny support via binder."
@yuvipanda Following up re your suggestion in #10 : the rocker container actually [already has a script to add shiny](https://github.com/rocker-org/rocker-versioned/tree/master/rstudio#add-shiny-server-on-start-up-with-e-addshiny), it just isn't run by default.

adding the following RUN command:

[code]

to this Dockerfile will trigger this script.  Seems reasonable to add this in.

[2017-11-10 04:43] cboettig commented on #14
(of course this would still need some work on the proxy side to integrate into binder proxy properly)

[2017-11-10 04:59] cboettig opened #15 "What other features are missing still?"
@yuvipanda Following up on your other question from #10 here.

Clearly this depends on what we mean by 'feature'.

- On the port / networking side, it would be good to make sure that RStudio can open up other browser windows, e.g. when previewing an HTML document output by rmarkdown, or a website built by blogdown/bookdown, but I think that should work out of the box unless the proxy is doing some

[2017-11-13 04:12] brooksambrose commented on #10
@cboettig were the binder image rebuilt after https://github.com/rocker-org/binder/pull/13? I'm still seeing the old behavior if I use a Dockerfile that just says `FROM rocker/binder:3.4.2`, e.g. https://mybinder.org/v2/gh/w201rdada/portfolio-brooksambrose/master?filepath=%2Frstudio. Rstudio projects are crashing the same way.

[2017-11-13 04:46] cboettig commented on #10
@brooksambrose this repo is configured to rebuild automatically on hub after a commit.  You can see the last build date for the image on hub https://hub.docker.com/r/rocker/binder/builds/ (or more details via `docker inspect` on your image.

[2017-11-13 20:19] brooksambrose commented on #10
Yeah thanks, seems to be working now:
https://mybinder.org/v2/gh/rocker-org/binder/master?urlpath=rstudio

[2017-11-14 00:26] brooksambrose commented on #15
Don't know if it's a feature of if it just needs to be documented, but in order to let users have unrestricted access to the contents of the repository, including `.git`, they must include a Dockerfile like this:

[code]

Where `FROM` is my own extension of `rocker/binder`. This is necessary because I assume the repo is cloned as root and not as rstudio, but perhaps that could be changed upstream

[2017-11-14 00:38] cboettig commented on #15
I believe this is documented already: http://mybinder.readthedocs.io/en/latest/dockerfile.html#preparing-your-dockerfile

problem is that `COPY` needs root.  Generally it's good to avoid `COPY` since it breaks docker caching anyway, you can always do a `git clone` or `wget` in a RUN command to get data from an S3 bucket or github etc

[2017-11-14 04:49] brooksambrose opened #17 "More elegant solutions to copying repo to container/image...?"
@cboettig Thanks for your response at #15 and don't want to get that convo off track.

I wonder if there is a more elegant solution to using a `Dockerfile` with binder just to copy a user's repo to the image. Better would be to copy to the container or volume map, but sticking in the vein of the current "data in the image" solution:

Clone the repo as `NB_USER` in a `RUN` command during build usin

[2017-11-14 05:04] cboettig commented on #17
Right, I think we should just have the block

[code]

built into the `rocker/binder` Dockerfiles here to begin with. I believe that's what the default Dockerfile already does in binder, so it makes sense we copy that behavior.     @yuvipanda is there a reason we haven't done this with the Dockerfiles here?

(of course it's a pity Docker doesn't support a more elegant handling of this / of non-root

[2017-11-15 00:32] brooksambrose opened #18 "Safari browser cannot open Terminal session in RStudio Server"
On my own binderhub using an image based on rocker/binder:3.4.2, RStudio Server will not open a shell session in the new tabbed terminal window. `system()` still works. Terminal is working on my binder.org with the same repo though. When I check the pod log the last thing is a 403:

`[W 00:22:06.159 NotebookApp] 403 POST /user/w201rdada-portfolio-4jbqvvxy/rstudio/rpc/start_terminal (10.32.0.25)`

[2017-11-15 00:44] brooksambrose commented on #18
Confirmed that this only occurs in Safari from my binderhub. Works as expected in Firefox and Chrome for Mac. I assume this has something to do with Safari security since my binderhub does not have SSL enabled right now.

[2017-11-15 23:43] brooksambrose opened #19 "support servr"
Currently in RStudio on Binder the command `servr::httd()`, which should serve a webpage in the RStudio Server viewer pane, is giving:

[code]

I think this it may have been possible to open an arbitrary port before #13 when `nbserverproxy` was removed.

[2017-11-20 22:49] cboettig commented on #17
pinging @yuvipanda Should we add the above to these Dockerfiles? This is necessary to get the `install.R` behavior shown on https://github.com/binder-examples/dockerfile-rstudio to actually work, right?  Should we also add the RUN call to run any `install.R` script it finds?

Thanks!

[2017-11-28 17:27] cboettig commented on #17
Not sure what I was thinking, clearly COPY has to be done in the repo's Dockerfile and not here.  Sent a PR to add it to the binder-examples/dockerfile-rstudio, which was missing the `chown` commands.

[2017-11-28 17:27] #17 closed

[2017-11-28 17:28] cboettig commented on #18
Closing for now since this sounds like a Safari issue.  please re-open if there's action we need to take on our end.

[2017-11-28 17:28] #18 closed

[2017-11-28 17:34] cboettig commented on #14
added an experimental tag, `geospatial` that provides a more kitchen-sink base image.  (e.g. LaTeX support, geospatial libraries, java)

[2017-12-08 21:39] cboettig opened #21 "Base image: moving rocker/binder higher in the stack?"
@yuvipanda @brooksambrose @choldgraf

How would you feel about bumping the base image `FROM rocker/tidyverse` to instead start with `FROM rocker/geospatial`?  Obviously we cannot overcome everyone's system dependencies by pre-installing everything, but from our experience so far, an image like `verse` or `geospatial` (which builds on `verse`) and has a pretty common set of core system libraries to

[2017-12-08 21:54] yuvipanda commented on #21
I've no objections and I trust you to make the most useful choice for the R
community :)

On Dec 8, 2017 3:39 PM, "Carl Boettiger" <notifications@github.com> wrote:

[2017-12-08 21:58] choldgraf commented on #21
+1 to what Yuvi said!

[2018-01-28 08:13] benmarwick commented on #10
I'm really enjoying the ease of having RStudio in my browser thanks to Binder!

But I'm seeing the same `[Errno 111] Connection refused` problem when either switching to an existing Rproj in the repository, or starting a new one in binder. I'm getting this problem with both of these:

- https://mybinder.org/v2/gh/mrpargeter/phillips_et_al_preservation/master
- http://mybinder.org/v2/gh/benmarwick/

[2018-01-31 00:23] brooksambrose opened #22 "error with DIY deploy from new binder docs"
I started a new binderhub deployment following updates from https://github.com/jupyterhub/binderhub/pull/430

Trying to launch example:
http://hub.w201rdada.org/v2/gh/binder-examples/dockerfile-rstudio/master?urlpath=rstudio

At the end of the build log getting:

[code]

[2018-01-31 00:33] brooksambrose commented on #22
this was related to bad config on SSL

[2018-01-31 00:44] brooksambrose commented on #22
Still an issue after SSL was disabled.

[2018-01-31 17:02] cboettig commented on #10
@yuvipanda any ideas?

[2018-01-31 17:04] cboettig commented on #22
@brooksambrose is this resolved or should this still be open?

[2018-01-31 21:52] brooksambrose commented on #22
Yes solved. The new docs at https://binderhub.readthedocs.io/ are working for me, and for posterity SSL with letsencrypt can be configured as:
[code]

[2018-01-31 21:52] #22 closed

[2018-01-31 21:57] brooksambrose commented on #14
re work on the proxy side, Shiny from within Rstudio Server's viewer was breaking and Yuvi addressed it with these PRs
https://github.com/jupyterhub/nbrsessionproxy/pull/25
https://github.com/jupyterhub/nbserverproxy/pull/17

[2018-01-31 22:10] brooksambrose commented on #14
Would be cool to add an API call similar to `?urlpath=rstudio` like `?urlpath=shiny` that would allow an autolaunch of a shiny app directory.

[2018-02-09 16:14] cboettig commented on #21
This is done

[2018-02-09 16:14] #21 closed

[2018-02-09 16:34] choldgraf commented on #21
🎉

[2018-03-15 08:13] mrustl opened #25 "R 3.4.3 not working"
Using the [Dockerfile](https://github.com/binder-examples/dockerfile-rstudio/commit/ac505961a7987b9b351c3a4721ab39e8eacb398d) in the binder-examples/dockerfile-rstudio repo and changing the R version from 3.4.2 to 3.4.3 does not work.

![grafik](https://user-images.githubusercontent.com/11964451/37507553-62321946-28ef-11e8-8577-937b6a2c27ae.png)

[2018-03-17 05:50] cboettig commented on #25
Thanks, looks like that tag failed to build, just re-queued it.  https://hub.docker.com/r/rocker/binder/builds/

Note that you can also just request `rocker/binder:latest` (equivalently, just `rocker/binder`) to get the current version of R (the `latest` tag has built successfully).

[2018-03-18 03:28] #25 closed

[2018-08-14 06:34] vnijs opened #27 "Binder + Jupyter Lab + SSL?"
Binder looks really interesting! Thanks for making this publicly available.

Question: Have you seen any docker files that use binder with Jupyter Lab?
Question: Have you seen any docker files that use binder with Jupyter Lab + SSL?

 The README.md at https://github.com/binder-examples/jupyterlab make it sound simple enough but ...

[2018-08-14 16:31] cboettig commented on #27
I think jupyterlab works out of the box with the default binder images, but looks like we need to update this binder image to include lab.  Currently only includes jupyterhub (via `?urlpath=tree`) and rstudio (`urlpath=rstudio`).

@yuvipanda  or @choldgraf can probably tell me what I need to update in this Dockerfile to pull in Juypter Lab, and can point you to the Dockerfile sources for the 'vani

[2018-08-14 17:16] choldgraf commented on #27
hey @vnijs - I'd recommend checking out the Binder documentation at "docs.mybinder.org" or browsing through the example repositories in `binder-examples` as you mentioned in your comment. Binder treats Dockerfiles as an "advanced" use case and generally discourages them unless they *really need* to be used. If you have questions about this, come say hello in the gitter channel: https://gitter.im/j

[2018-08-14 19:29] vnijs commented on #27
@cboettig Thanks for the clarification
@choldgraf I'm pretty much tied to docker and looking for the easiest (secure) approach for remote access to the services running in the container. It seems jupyterhub / binder should fit the bill. I'll look at the documentation again and post any questions to the gitter channel. Thanks

[2018-08-14 19:29] #27 closed

[2018-08-14 20:00] cboettig commented on #27
@vnijs Just a side note here, but if what you're after is mostly the SSL bit, I particularly like using Caddy server for this.  You can get Caddy as a separate docker image and deploy it next to RStudio, Jupyter, or any other service pretty easily with the standard docker-compose strategy.  Here's my typical Caddy + RStudio + SSL setup: https://github.com/boettiger-lab/servers/tree/master/rstudio

[2018-08-15 09:08] choldgraf commented on #27
FWIW, JupyterHub (which BinderHub uses under the hood) has a lot of [customizable security features](https://zero-to-jupyterhub.readthedocs.io/en/latest/security.html#https). It's a but unclear to me how to expose these features to users for their individual environments in Binder, I agree w @cboettig that you'd probably need to roll your own setup in that case (e.g. deploying your own BinderHub a

[2018-08-15 20:21] vnijs commented on #27
@cboettig and @choldgraf: Thanks for the suggestions! I will look into these options in more detail asap.

[2018-09-07 17:38] syoh commented on #15
@cboettig @yuvipanda

We have a working Jupyterhub installation, and we were wondering if there is a way to use this docker image as a drop-in image for Jupyterhub and launch R studio directly? [This example for Binder](https://github.com/rocker-org/binder/issues/10#issuecomment-343339518) seems encouraging.

In other words, a user would login through Jupyterhub and the first page they see would b

[2018-09-07 17:44] cboettig commented on #15
@syoh I think that should already work, provided you include the `?url=rstudio` as in https://github.com/rocker-org/binder#opening-rstudio-once-binder-launches ?

[2018-09-07 23:10] yuvipanda commented on #15
For JupyterHub, you should be able to set `c.Spawner.default_url = "/rstudio"` to have users directly get into RStudio when they log in.

[2018-09-17 17:30] syoh commented on #15
@yuvipanda Cool! We will try that

[2018-09-24 22:35] erniee commented on #15
@yuvipanda

Would this be the same jupyterhub on kubernetes?
I'm having the same issue as @syoh.
I'm also using the rocker/binder image.

Would this work in my config.yaml?

[code]

This is the error that I receive:

`2018-09-24 22:28:26+00:00 [Warning] Error: failed to start container "notebook": Error response from daemon: oci runtime error: container_linux.go:247: starting container process cau

[2018-09-26 23:36] yuvipanda commented on #15
@erniee I think the python package 'jupyterhub' needs to be installed in the image. I think rocker/binder doesn't have that?

[2018-09-27 17:21] cboettig commented on #15
@yuvipanda correct, that's not currently in the Dockerfile, maybe we should add that.

but I'm a bit lost here: what's the advantage of installing jupyterhub and adding a `defaultUrl` parameter in a separate `config` file to go directly to RStudio, vs just including the `?url=rstudio` to go directly to rstudio (which is working for me in the current image, at least with binderhub).  Sorry, I'm pro

[2018-09-28 19:59] erniee commented on #15
Thank you @cboettig
@yuvipanda I may be using the wrong image but I wanted to setup z2jh to use an image that could automatically launch rstudio.  I may be using the wrong image to do that with.  With your help, I have this working but I do have a problem, saving files to the persistent storage is still an issue.

The home directory is set to /home/rstudio and persistent storage is mounted on /hom

[2018-09-28 20:06] cboettig commented on #15
@erniee Maybe @yuvipanda is already aware of the details you refer to so I'm happy to defer to him, but it would help me to have a bit more understanding of what you are trying to do.

If you simply want to setup an RStudio server instance, and you want persistent data storage, the standard Rocker images work pretty well in this context.  e.g. See the rocker docs for persistent storage: https://ww

[2018-10-04 21:31] syoh commented on #15
@erniee and I figured out the issues and successfully created a rstudio image that can be launched directly. Thank you for your help @cboettig and @yuvipanda.

On a different topic, is there a way to make "Sign Out" button in Rstudio also sign the user out of Jupyterhub? This is a feature that would be useful (but may be difficult to implement) for using Rstudio within Jupyterhub. Right now, loggi

[2018-11-30 19:29] januz opened #28 "why based on geospatial?"
Thank you for providing this (and all the other `rocker`) image(s)!

I wondered why the `binder` image is build on top of `geospatial` and not on `tidyverse` or `verse` as, from my perspective, adding the possibility to use `Binder` is a more fundamental feature that might be important to everybody interested in reproducibility, but not necessarily in geospatial analysis tools. Furthermore, the ge

[2018-11-30 23:39] cboettig commented on #28
Good question!

I find there's really not that much incentive to keep images very small vs having packages pre-compiled and system libraries pre-installed.  Binder takes a few extra seconds to download those extra MBs and much longer to compile those packages from source.  Spatial libraries can be particularly hard for users to install given the system requirements -- (I believe the binder's defau

[2018-12-01 05:36] januz commented on #28
Thanks for your response! That sounds reasonable. I myself don't mind having the extra MBs, just thought that some users might object...

[2018-12-01 05:36] #28 closed

[2018-12-12 18:54] januz opened #29 "images built on `rocker/binder` can't run RStudio on mybinder.org"
I had problems running Docker containers that use `FROM: rocker/binder:3.5.0` on mybinder.org. The interactive RStudio session wouldn't open and report "500 : Internal Server Error". Interestingly, the same images used to run at the end of last week.

With the help of @betatim (see https://github.com/jupyterhub/binderhub/issues/753), I figured out that if I use another rocker image and add the cod

[2018-12-13 16:03] cboettig commented on #29
@januz Thanks for the bug report and sorry for the trouble.  This does indeed sound very weird, I'll have to poke around.  Sounds like something funny has happened on the Docker Hub end, if the same Dockerfile building locally is working fine.  Possibly something in the post-build hook configuration?? I'll tickle the hub to rebuild and then poke around.

[2018-12-13 16:52] cboettig commented on #29
@januz can you get your image to rebuild on Binder?  No idea where this went wrong, but everything seems to be working on my fork of your 'binder-fails' example: https://github.com/cboettig/binder-fails

[2018-12-13 18:46] januz commented on #29
@cboettig Yes, indeed. After making a commit to the repo, the container builds successfully on Binder! @betatim's assumption that a cached layer with the old version of `nbrsessionproxy` is responsible, sounds plausible. Thanks for looking into it, I hope that you can find a mechanism to prevent this from happening (apparently randomly).

[2018-12-13 18:52] cboettig commented on #29
If binder builds with `docker build --pull` it should always have the latest version, and binder's server should be seeing the same thing that we see when we just run docker locally (e.g. run `docker run -p 8888:8888 rocker/binder`).

[2018-12-13 19:00] januz commented on #29
Hm, I am not 100% sure anymore, but I think that during my tests for the above problems, I had the same thing happening to me (i.e., RStudio not opening) when I built/ran my docker container from DockerHub. But the same fault (having a cached layer from an earlier build with the outdated `nbrsessionproxy` version) could have happened locally I guess.

[2018-12-13 19:47] betatim commented on #29
I think if long term runn-ability is your goal the best thing to do is to rebuild and run your image at regular intervals. From watching people use mybinder.org and using some of the repos in talks/demos over many months my take away is that it is surprisingly hard to make something that works now and will still work in 6months. Mostly this is around pinning the right kind of dependencies at the r

[2018-12-13 19:59] cboettig commented on #29
Well said; I'm :100: with Tim on this being a remarkably hard (and remarkably under-appreciated how hard) problem.

Rocker's tagged images (i.e. `3.5.0`) are rebuilt once a month, `latest` is rebuilt daily using a cron job.  You can also have CI do this (e.g. Circle-CI will let you set a cron table to rebuild regularly without needing to make a new commit, so you don't need to keep a server up run

[2018-12-13 20:16] januz commented on #29
Thanks to you two for taking the time to investigate and for your tips!

So, if I understand you correctly, the best thing to do if I want long term usability (which is what I want as it is for a reproducible research compendium, so might be relevant to somebody some months/years down the road), is to rebuild and try out my docker image on DockerHub regularly (best without needing a commit to the

[2018-12-13 20:57] cboettig commented on #29
My-Binder and Rocker both try to pin things as best as possible, but nothing is perfect.  e.g. R packages come from MRAN snapshots, Microsoft has done a great job keeping these (though it's hard to externally validate that everything in the snapshot comes from the date claimed); only failures I've seen are temporary server down-time.  Of course MRAN could vanish in the future.  System libraries ar

[2018-12-14 07:35] betatim commented on #29
Even doing something that is conceptually simple like "Pin all the things" turns out to be tricky to get right if you have a sufficiently large project (I'd say this is the fundamental reason this issue was created :) ).

For example `packageA` (which you explicitly pin to version 3) will depend on `packageB` (which you might not pin because you missed it or what not). Most packages don't specify

[2018-12-14 07:38] betatim commented on #29
As a physicist, I assume "spherical cow in a vacuum without friction". Everything is nice and easy to calculate. In reality, cows are a weird shape, there is friction and an atmosphere. Now something that was a nice simple problem you could solve with pen and paper has turned into something requiring complicated numerical approximations.

I see reproducibility a bit like that. In theory it should

[2018-12-14 07:52] cboettig commented on #29
Tim, I think this is great, but maybe overstating the goal slightly.  As you note, the real catch in this scenario is wanting to update some part of your stack to a newer version that you didn't actually use, because perhaps some bug was fixed in your software and you want to see if it changed your result.  That's an important use case; but it is also very distinct from the use case of "wanting to

[2018-12-14 17:53] januz commented on #29
Thank you two so much for your insights!!

@cboettig At least for the R side of things that is solvable, correct? (at least when assuming that MRAN works reliably) All packages that are installed into the docker image, are installed from an MRAN snapshot that is fixed to a specific date by the base image. If one wants to install newer versions of specific packages, I found that there is the risk t

[2018-12-15 06:08] cboettig commented on #29
@januz yes, the MRAN snapshots are a convenient way to pin the version (you don't need to specify a version when installing from MRAN, since the 'latest' version is already fixed to the date).  Both the versioned rocker images and the standard binder R config uses this MRAN snapshot configuration.

For system libraries installed by apt-get things are relatively stable on the rocker-versioned stack

[2018-12-15 06:08] #29 closed

[2019-05-30 10:51] krlmlr commented on #10
I can switch to an existing `*.Rproj` file in https://mybinder.org/v2/gh/krlmlr/minver/master?urlpath=rstudio, the image is based on R 3.6.0.

[2019-06-03 16:45] cboettig commented on #10
@benmarwick sorry this fell off my radar.  I think this was patched in the newer binder images but not backported to the older versions.  I've backported to 3.4.2 now, but I'm not sure how to reset the cache on binder.org so that https://mybinder.org/v2/gh/benmarwick/modelextinctionideas/master rebuilds (though from your end I think any edit to the Dockerfile might due it?  Binder folks can clarif

[2019-06-12 01:59] yuvipanda commented on #10
Any new update to your 'master' branch should force a rebuild on launch.

[2019-06-21 18:14] HeidiSeibold commented on #28
I like issues. Had exactly the same question and found that it has already been answered. Are there any plans on creating a more slim version?

[2019-06-24 18:22] cboettig commented on #28
@HeidiSeibold great!  Yeah, @noamross and I have been talking about strategies that would allow a more modular approach, but would need a significant overhaul of the versioned `tidyverse`/`verse`/`geospatial` stack!  But since there's such a range of packages individual users might need our current approach has been to suggest users for whom image size is mission critical simply build a custom ima

[2019-06-25 06:35] HeidiSeibold commented on #28
Thanks for the answer!

I should be able to manage that :wink:

[2019-06-25 16:18] cboettig commented on #28
cool, ping us if you hit issues because that'll help me when I get back to making it more composable (I didn't mean to be flippant about copy/paste, sometimes there's unexpected dependency issues from elsewhere in the vertical stack that make that less trivial than it sounds).

Also, I shoulda mentioned -- for projects that don't depend on packages that have a lot of external sys reqs (like geospa

[2019-06-26 11:13] HeidiSeibold commented on #28
Thank you! :sunflower:

[2019-08-29 19:12] chuckpr opened #37 "404 not found error with jupyterlab"
https://mybinder.org/v2/gh/rocker-org/binder/master?urlpath=lab

This was working as recently as two days ago. Today I get a 404 error when trying to launch `jupyter lab` (i.e. with query `urlpath=lab`, see link above). No error in the build logs preceding being redirected to the jupyter lab landing page.

The notebook interface is working fine.

[2019-08-29 19:36] chuckpr commented on #37
This was an error on my part. I thought `jupyterlab` was installed the the `rocker/binder:3.6.0` image.

I had actually installed it with `RUN pip3 install jupyterlab` after inheriting from `rocker/binder:3.6.0`. Looks like I need to pin `jupyterlab` to v1.0.9 to be compatible with Python 3.5.3 (i.e. `RUN pip3 install jupyterlab==1.0.9` installs a working version of `jupyterlab` in `rocker/binder:

[2019-08-29 19:36] #37 closed

[2019-09-16 12:32] flor14 opened #38 "caret and rsample packages"
Hello!

I am creating an environment for R with a Dockerfile like this one:

[code]

Also, I have installed this packages with an install.R file:

[code]

runtime.txt
r-2019-08-10

The packages seem to work fine, with the exception of `rsamples` and `caret` package. Both packages are not found when I run the code.

I tried several things to solve this but all without success. I suspect it is a pro

[2019-09-16 16:15] cboettig commented on #38
Your install.R file worked just fine with the `rocker/binder:3.5.2`-based Dockerfile shown above for me.  Can you let us know what error you see?

Unrelated but please note that 3.5.2 is pinned to MRAN  date of 2019-03-11 https://github.com/rocker-org/rocker-versioned/blob/master/VERSIONS.md; that's not that different than what you have here but note versions are automatically pinned for reproduci

[2019-09-16 21:14] flor14 commented on #38
Thank you for the answer and explanation about runtime.txt

This is the error:
[code]

Another probably useful information are the package versions  (I did not use this code, it is just for the packages versions):

[code]

caret version is not new, not sure if this could be part of the problem:
caret_6.0-78  date 2017-12-10  (https://cran.r-project.org/src/contrib/Archive/caret/)

[2019-09-16 22:09] cboettig commented on #38
Versions are handled automatically by fixing the R version, which fixes the
MRAN date.  Please check the rest of your error log to see what cran repo
the installer is using?  I cannot reproduce this error

On Mon, Sep 16, 2019 at 2:14 PM flor14 <notifications@github.com> wrote:

--
---
Carl Boettiger
http://carlboettiger.info/

[2020-04-01 16:39] #38 closed

[2020-04-01 16:41] #14 closed

[2020-04-01 16:41] #10 closed

[2020-04-01 16:42] #2 closed

[2020-07-09 14:10] julou opened #41 "bug with R 4.0.0 and 4.0.2 containers"
Not sure where this bug report (jupyterhub/jupyter-rsession-proxy#92) should be posted at best, so [cross-posting](https://github.com/rocker-org/rocker-versioned2/issues/67) here as it seems to be rocker-binder's home.
Sorry if this is bad practice (feel free to close/delete the least appropriate issues in this case) and thank you in advance for your help!

[2020-07-09 21:20] cboettig commented on #41
@julou Thanks for the report!  Yup, missed a CMD in the new mapping. My apologies.  Rebuilding the 4.0.x images now and should be up in a little bit.

p.s. the new 4.0.x images now use the RStudio Package Manager binary builds for Ubuntu Focal (20.04), which should dramatically reduce install times when using binder.

Again thanks for the report; yeah, any `rocker` based image issues are best file

[2020-07-10 07:56] julou commented on #41
Glad that I finally reached the right place ><

I will sound dense here, but could you please instruct how I could force reloading the binder image. Because I now see the 4.0.1 images on dockerhub and all 4.0.x images have an update time that is after your last message so I believe they have been updated but neither https://mybinder.org/v2/gh/rocker-org/binder/master?urlpath=rstudio nor https://my

[2020-07-10 07:59] julou commented on #41
that's great news!
In fact I already included this feature [for restoring renv with my R-3.6.3 images](https://github.com/julou/BinderWithR/blob/571f0d2f09467cfc32a339112cb2e98ab967e449/.binder/Dockerfile#L26).

[2020-07-10 21:31] cboettig commented on #41
Whoopsies, that's what I get for replying to the thread before waiting for the image to finish building.  Had also forgotten to drop out of root and back to USER in the Dockerfile.  It's building again, let's both check again once the new images repost

[2020-07-11 09:04] julou commented on #41
Thanks for following up. Still getting the following on both repos:
[code]

[2020-07-15 10:15] julou commented on #41
Yeah… it now works! Thank you very much :)
Now I have to figure out how to get `renv` installed on 4.0.x images (which works flawlessly in e.g. 3.6 but somehow crashes on 4.0.x). I might open another issue soon :-/

[2020-07-15 15:30] julou commented on #41
well… maybe I claimed victory too early!
It turns out that with the current images, the GitHub repo is copied at the root of the file system, instead of in the home directory… Am I right thinking that this must be solved in the Docker image?

[2020-07-15 18:11] cboettig commented on #41
Thanks! yeah, you can always address these in your Dockerfiles in the repos, but I think it would be nicer for us to set that in our Dockerfiles for convenience.  Thanks for pointing that out, I'll add a WORKDIR call in now.

[2020-07-21 02:45] cboettig commented on #41
I think we should finally be all good here?  At least things look ok if you click the binder button in this repo.  e.g. https://mybinder.org/v2/gh/rocker-org/binder/master?urlpath=rstudio

[2020-07-21 02:45] #41 closed

[2020-07-21 02:47] cboettig commented on #19
is this still an issue?  at least `blogdown` and `xaringan` seem to be working fine in the studio viewer pane now or in serving webpages to a separate browser tab.  experience may be firewall dependent though.  re-open as needed

[2020-07-21 02:47] #19 closed

[2020-07-21 02:47] #15 closed

[2020-08-02 14:27] julou commented on #41
hi @cboettig,
I'm sorry for being picky but with the current rocker-org/binder, I get the studio session started in `/home/rstudio` while I see the content of https://github.com/rocker-org/binder at the root of the filesystem. Isn't it [what you intended to fix](#issuecomment-658921138)?
In any case I find it very confusing, I'd expect that one creates a directory with the name of the repo (in thi

[2020-09-19 23:43] Robinlovelace opened #42 "Use of rstudio and joyvan home directories"
It seems that RStudio starts by default in the RStudio directory but the user is joyan. I imagine this is just following Binder and RStudio Server conventions, but does it make sense and is it well documented?

A question that arose during my migration to rocker/binder:4.0.2 that finally seems to be working, with faster build times than before :tada:

Check it out here: https://mybinder.org/v2/gh/

[2020-09-20 04:03] cboettig commented on #42
Thanks, yeah, we could probably stick with "rstudio" as the default name, I'm not sure if there's a good argument to be made for sticking with joyvan as the user. @yuvipanda @choldgraf are we likely to break anything in so doing?

Re COPY/wget, etc, yeah, you have options.  COPY breaks cache, which could be good if you want to ensure the copy runs every time the container builds.  Otherwise I thin

[2020-09-20 07:55] Robinlovelace commented on #42
Great reply @cboettig, sounds like you've got a lot on in the Rocker world. I think it would be more consistent to have everything in `/home/rstudio` but as you say not a priority.

Re priorities for geospatial images....

Looking at the current state of Ubuntu Geo PPAs I am thinking that building directly on well maintained OSGeo images may give most boom-for-buck, e.g. building on this: https://

[2020-09-20 08:39] Robinlovelace commented on #42
Another perhaps more important issue I've found with the `rocker/binder:latest` images is that R sometimes never starts, even though RStudio starts-up no problem. I'm seeing this now here and it's been going for ~5 minutes: https://mybinder.org/v2/gh/robinlovelace/geocompr/master?urlpath=rstudio

![image](https://user-images.githubusercontent.com/1825120/93707264-c3c3b980-fb24-11ea-8594-3538bb18f9

[2020-09-20 09:44] Robinlovelace commented on #42
Update, changing to R 3.6.3 and to the rstudio user, with the updated Dockerfile fixed the issue short term:

[code]

Next up, I'm going to try to change back to 4.0.2, with `RUN chown -Rv rstudio /home/rstudio` instead of `RUN chown -Rv joyvan /home/rstudio` which I suspect caused the issue...

[2020-09-20 10:10] Robinlovelace commented on #42
OK, I've fixed the issue with R not loading in RStudio... The question/issue in the title and original post remains. Hope all this is useful!

[2020-09-24 09:01] Robinlovelace opened #43 "Site not launching?"
Just tried this and didn't seem to work: https://mybinder.org/v2/gh/rocker-org/binder/master?urlpath=rstudio

[2020-09-24 13:26] nuest commented on #42
@Robinlovelace didn't see your issue here, I'm also unsure about where to report issues with R 4.x - so linking my observations from https://github.com/rocker-org/rocker-versioned2/issues/88

[2020-11-28 18:23] davidyakobovitch opened #44 "500: Internal Server Error"
With the latest build, after launching at:

localhost:8888 and clicking new Rstudio, this error appears, dated Nov. 28, 2020; with a pull directly from

docker pull rocker/binder:latest

[code]

Full error tracelog below:
[code]

[2021-03-16 08:41] Robinlovelace commented on #44
This can also be reproduced on DockerHub:

![image](https://user-images.githubusercontent.com/1825120/111280104-573cf980-8633-11eb-8f0d-28bcf6768f8c.png)

Source, from the README of this repo: https://mybinder.org/v2/gh/rocker-org/binder/master?urlpath=rstudio

[2021-06-01 11:02] louisaslett opened #45 "Run locally on docker failing"
I'm pretty new to Binder, so I hope this isn't a false positive issue report (apologies in advance if so).

Per the documentation in the README, I'm trying to play round with this on my local machine Docker, but on `rocker/binder:latest` and `rocker/binder:4.1.0` I get:

[code]

However, if I go back far enough, it works just fine:

[code]

I don't know if this is related to #44 or not, hence open

[2021-06-01 13:39] louisaslett commented on #45
My apologies, I've just realised that this is the old repository and there is a live issue about the same problem (in the correct repo!) here: rocker-org/rocker-versioned2#147

Closing this now.

[2021-06-01 13:39] #45 closed

[2021-06-01 14:11] louisaslett commented on #43
I think this is being discussed at the new repo here (adding for others like me who stumble into the old repo): rocker-org/rocker-versioned2#88

Perhaps an admin can close this issue?

[2021-06-01 14:12] louisaslett commented on #44
I think this is being discussed at the new repo here (adding for others like me who stumble into the old repo): rocker-org/rocker-versioned2#88

Perhaps an admin can close this issue?

[2021-06-01 16:01] cboettig commented on #43
Yes, thanks @louisaslett , and apologies for the ongoing challenges here.  Let's see if the newest RStudio releases do anything to address these!

Folks, please see https://github.com/rocker-org/rocker-versioned2/issues/88

[2021-06-01 16:01] #43 closed

[2021-06-01 16:02] #44 closed

[2022-01-10 00:22] cboettig commented on #42
I think this should be resolved now with the working 4.x version as per #47

[2022-01-10 00:22] #42 closed

[2022-04-20 11:37] vemonet opened #50 "Issue in the Bash terminal: warning `pyenv` command not found"
Hi, thanks a lot for making RStudio easily available on JupyterHub and Binder!

I ran the image using the command given on DockerHub (my laptop config is Fedora Linux 35 - kernel Linux 5.16.20-200.fc35.x86_64):

[code]

But I noticed 2 things that seems off:

1. This one is not a big problem, but there is a file `=2.0` that is created in the home folder, containing the output of a `pip install`:

[2022-08-12 19:17] ktaletsk opened #51 "How to use with JupyterHub"
I am looking at instructions on how to use this image with JupyterHub (+ KubeSpawner). I am able to run this image standalone on my machine and get to RStudio, I am able to launch it in Binder and get to RStudio, but not in JupyterHub.
I added the image built from this repo to the list of profiles in KubeSpawner in jupyterhub-config.py
[code]

When I launch this profile, container is successfully

[2022-08-13 14:13] eitsupi commented on #51
@yuvipanda Do you know anything about this? Thanks.